#history {
  background: #252C6D;

  .history_text {
    color: white;
  }

  h2 {
    font-family: 'Futura Hv BT', sans-serif;
    font-size: 30px;
    line-height: 140%;
    font-weight: 600;
  }
  P{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 300;
  }
}